In [3]:
import pandas as pd

In [19]:
data1 = pd.read_excel(r'D:\datasheet\DATASHEET EXCEL.xlsx')

In [20]:
data1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,year,PROJECT A,PV,PROJECT B,PV,PROJECT C,PV,DISCOUNT FACTOR @ 12%
4,NaN,NaN,0,-5000,NaN,-5000,NaN,-5000,NaN,NaN
5,NaN,NaN,1,2500,2232.142857,2000,1785.714286,3500,3125,0.892857
6,NaN,NaN,2,2000,1594.387755,2000,1594.387755,2500,1992.984694,0.797194
7,NaN,NaN,3,2800,1992.984694,4000,2847.120991,1500,1067.670372,0.71178
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,5819.515306,NaN,6227.223032,NaN,6185.655066,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NPV,NaN,819.515306,NaN,1227.223032,NaN,1185.655066,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,IRR,NaN,0.21161,NaN,0.241369,NaN,0.276066,NaN